<div class="hero-unit">
  <img src="{{ url_for('static', filename='assets/logo-piratebox-v2.png') }}">

  <p class="lead">Hi, welcome on my Piratebox !</p>

  <p>Here, you can <strong>anonymously</strong> <a href="/explore">browse</a> the files available for download, upload your own files that you're willing to share, <a href="/discover">discover</a> the existing extensions, or simply <a href="/concept">learn more</a> about the project...</p>
</div>

<div class="hero-unit">
  <p class="lead">File uploader !</p>
</div>

{% include "modal-introduction.html" %}