<div id="modal" class="modal hide fade">
  <div class="modal-body">
    <div class="text-center">
      <img class="logo-welcome" src="http://placehold.it/100x100"></a>
      <h4>Welcome to my Piratebox</h4>
      <p>Don't worry, there is nothing illegal going on here...</p>
      <p>You're currently connected to an off-line network, specially designed and developed for <strong>anonymous file-sharing</strong>.</p>
      <a href="/concept">Learn more</a>
    </div>
    <a id="modal-stop" href="#" class="btn btn-primary">Close</a>
  </div>
</div> <!-- /modal -->