<!-- Le javascript
    ================================================== -->

<!-- @Todo: Use the minified version on production to save bandwidth -->
<script src="{{ url_for('static', filename='jquery.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>

<!-- Or the scripts can be added separately -->
<!--
<script src="{{ url_for('static', filename='bootstrap/js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-transition.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-alert.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-modal.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-dropdown.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-scrollspy.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-tab.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-tooltip.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-popover.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-button.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-collapse.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-carousel.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-typeahead.js') }}"></script>	
-->

<!-- MODAL POPUP -->
<script type="text/javascript">
  // Toggle a welcome modal when the page loads
  console.log(window.name);

  $(window).load(function(){
    if (!(window.name == "Don't display the modal"))
      $('#modal').modal('show');
  });

  $('#modal-stop').click(function(e) {
    // Remember the user choice using the window.name (cookie-less solution)
    window.name = "Don't display the modal";
    $('#modal').modal('hide');
  });
</script>

<!-- FOOTER -->
<script type="text/javascript">
  // Show some information about the box
  $(window).load(function(){
    $("#hover-icon").hover(
      function () {
          $("#hover-information").removeClass("hidden");
      },
      function () {
          $("#hover-information").addClass("hidden");
      }
    );
  });
</script>